    	<div class="clearfix">
    	    <div id="post-stream" infinite-scroll="photosService.nextPage()" infinite-scroll-disabled='photosService.busy' infinite-scroll-distance='1'>
    	      <div  ng-repeat=" (key,photo) in photosService.photos track by $index"> 
    	      <div class="col-lg-4 col-md-4 col-xs-6 thumb ">

                    <a class="thumbnail" style="margin-bottom:1px;" href='{{photo.Url}}'>
                    <div class='image_wrapper'>            
                   <img class="img-responsive" src='{{photo.ThumbUrl}}' alt="" style="height:300px;width:400px">
                    
                    <div class='image_description'>
                    <div class='image_description_content'>
    <b>{{photo.Title}}</b>  
                    
                    </div>  
                    </div>
                    </div>

                    </a>
                    <div class="updownvote" style="height:50px;background:#fff;">
                    <div id="upvote_{{photo.Id}}" ng-click="votesMe($event,1)"class="upvote" data-photo_id="{{photo.Id}}" style="float:left">
                        <span ng-if="photo.UpVotesCount > 0">&#8593;{{photo.UpVotesCount}}&nbsp;</span><span ng-show="authenticated">upvote</span>
                    </div>
                    <div id="upvote_{{photo.Id}}" ng-click="votesMe($event,-1)" class="downvote" data-photo_id="{{photo.Id}}" style="float:right">
                        <span ng-if="photo.DownVotesCount > 0"> &#8595; {{photo.DownVotesCount}}</span><span ng-show="authenticated">&nbsp;downvote</span>
                    </div>
                    </div>
                </div>
    	      </div>
    	      </div>
    	</div>